body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color:darkolivegreen ;
  text-align: left;
  background-color:#905e69 ;
}
.container {
  max-width: 600px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
.weather-app {
  border: 3px solid goldenrod;
  padding: 15px;
  margin: 25px auto;
  border-radius: 20px;
  max-width: 600px;
  background: linear-gradient(109.5deg, rgb(229, 233, 177) 11.2%, rgb(223, 205, 187) 100.2%);
  height: 500px;
}
form {
  display: block;
  margin-top: 0em;
}
.search-form {
  margin-bottom: 20px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.typecity {
  flex: 0 0 75%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 75%;
  max-width: 75%;
}
.searchBtn {
  flex: 0 0 25%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  max-width: 25%;
  cursor: pointer;
}
h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}
ul {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
}

.dayTime {
  font-size: 26px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.temperature {
  font-size: 64px;
  font-weight: 100;
  margin-right: -4px;
}
.units {
  position: relative;
  top: -32px;
  font-size: 17px;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  font-family: 'Twinkle Star', cursive;
  font-size: 25px;
  color: firebrick;
}
.measurements {
  font-weight: 100;
  height: 19px;
  line-height: 1;
  margin-left: 48px;
  padding-top:25px;
}
.link{
  text-align: center;
  display:block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: maroon;
}
.overview{
  margin-bottom: -6px;
  font-family: 'Averia Libre', cursive;
  font-size: 30px;
  color: rosybrown;
}
.float-left{
  margin-top: -40px;
}
.active{
  cursor: default;
}
.active:hover{
  text-decoration: none;
}
.weather-forecast{
  margin-top: 30px;
  text-align: center;
  font-family: 'Beau Rivage', cursive;
}
.weather-forecast-date{
  color: crimson;
  font-size: 40px;
  font-weight: 100;
}
.weather-forecast-temperatures{
  font-size: 13px;
}
.weather-forecast-temperatures-min{
  opacity: 0.9;
  color: coral;
}
.quote{
  padding-top: 17px;
  font-family:'Averia Libre', cursive; 
  color: darkolivegreen;
  font-size: 20px;
}